@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  max-width: 100%;
}

.container, section, div {
  max-width: 100%;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #2d2e32;
  font-family: 'CyberAlert', sans-serif;
}

body::selection {
  color: #000000;
  background: #64f4ac;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
  transition: 0.3s ease;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fefefe;
}
